
INFOIBV/obj/x86/Debug/INFOIBV.pdb
*.pdb
*.cache
*.exe
*.ide
*.ide-shm
*.ide-wal
*.sqlite
*.user
INFOIBV/obj/x86/Debug/INFOIBV.pdb
INFOIBV/obj/x86/Debug/INFOIBV.pdb
INFOIBV/obj/x86/Debug/INFOIBV.exe
INFOIBV/obj/x86/Debug/INFOIBV.csproj.GenerateResource.cache
INFOIBV/obj/x86/Debug/INFOIBV.csproj.GenerateResource.Cache
INFOIBV/obj/x86/Debug/INFOIBV.csproj.CoreCompileInputs.cache
INFOIBV/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
INFOIBV/bin/Debug/INFOIBV.pdb
INFOIBV/bin/Debug/INFOIBV.exe
INFOIBV/.vs/INFOIBV/v15/Server/sqlite3/storage.ide-wal
INFOIBV/.vs/INFOIBV/v15/Server/sqlite3/storage.ide-shm
INFOIBV/.vs/INFOIBV/v15/Server/sqlite3/storage.ide
INFOIBV/.vs/INFOIBV/v15/.suo
.vs/slnx.sqlite
.vs/ImageProcessing1-FiltersAndEdges/v15/.suo
